@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
:root {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'PT Sans', sans-serif; */
}

h1, h2, h3, h4, li, a, button, li {
    font-family: 'Open Sans', sans-serif !important;
}

h1 {
    font-size: 3rem !important;
    font-weight: 800 !important;
}

h2, h3 {
    font-size: 2rem !important;
    font-weight: 800 !important;
}

p {
    font-size: 1rem !important;
}

img {
    max-width: 100%;
}

.top {
    /* position: absolute; */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 100%), url(../images/slider-1.png);
    /* background: url(../images/bg-img.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 50px;


    color: #ffffff;
    text-align: center;
}

.top-head__text {
    /* position: relative; */
    width: 100%;
    padding: 20px 0;
    background-color: #000000;
   


    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;               /* Good browsers */
}

.top-head__text h1 {
    font-size: 3rem !important;
    font-weight: 700 !important;
    color: #ffffff;
}

.top-main__text {
    margin: 200px auto;
    width: 70%;
    line-height: 1.5;
}

.light__text {
    font-weight: 300 !important;
}

.bold__text {
    font-weight: 800;
    font-size: 3.5rem !important;
}


/* NAVIGATION BAR */

.nav {
    margin-top: -8px;
}

.nav-item {
    text-transform: uppercase;
    margin-left: 15px;
    padding: 20px 0;
    margin-top: 0;
}

.active {
    background-color: #0473b2;
    padding: 20px 10px;
}

.active a {
    color: #ffffff !important;
}

.btn {
    text-transform: uppercase;
    background-color: #0473b2 !important;
    font-size: 1rem !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

/* HERO SECTION */
.hero__section {
    background-color: #0473b2;
    text-align: center;
    margin-top: -9px;
    padding: 80px 0;
}

.hero__top-texts h1 {
    font-size: 3rem !important;
    font-weight: 700 !important;
    color: #ffffff;
}

.hero__top-texts p, .hero__btm-texts{
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
}

.hero__grid-img {
    margin-top: 50px;
}

.hero__grid-img img {
    width: 20%;
}

.grid-two {
    margin-top: -30px;
}

.hero__btm-texts {
    margin-top: 50px; /*REVISIT THIS*/
}

.btn-more {
    background-color: #0b486b;
    color: #ffffff;
    border: none;
    margin-top: 30px;
    padding: 10px 30px;
    font-weight: 500;
}


/* HERO TWO CONTAINER */
.hero__two-container {
    padding: 80px 0;
    text-align: center;
}

.top__text {
    color: #888888;
    text-transform: uppercase;
    width: 80%;
    margin: 0 auto;
}

.border {
    margin-top: 50px;
}

.dotted-border {
    border: 1px dotted #888888;
}


.analyse {
    margin-top: 80px;
}

.col_text {
    width: 80%;
    margin: 0 auto;
}

.col_text h6 {
    font-weight: 800 !important;
    margin-top: 40px;
}

.shots-features {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.4) 100%), url(../images/bg_two.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 100px 0;
}

.stick-card.col {
    margin: 0 auto;
}
.card-col {
    position: relative;
    display: flex;
}

.stick-card {
    position: absolute;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 30px;
    width: 90%;
    height: 400px;
    margin-top: 20px;
    margin-right: 100px;
    border-radius: 10px;
}

.overlay {
    z-index: 9;
    margin-left: -5px;
    margin-top: 15px;
    /* margin: 40px; */
}

.mask {
    margin: 0 auto;
    background-color: #e0dfe8;
    width: 95%;
    height: 400px;
    padding: 20px 0;
    border-radius: 10px;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;               /* Good browsers */
}

.stick-card-text {
    width: 100%;
}

.stick-card-text h1 {
    color: #0473b2;
    font-weight: 800;
    margin: 30px auto;
}

.stick-card-text p {
    line-height: 2.0;
}

.list_features {
    color: #ffffff;
    margin-left: 10px;
}

.list_features-text {
    width: 100%;
}

.list li {
    list-style: none;
    line-height: 2.0;
}

.list i {
    margin-right: 10px;
}


.zig_row {
    margin: 80px auto;
    color: #ffffff;
}

.zig_image_bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.bg_one {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.4) 100%), url(../images/hosting-img.jpg);
}

.bg_two {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.4) 100%), url(../images/safty-app-bg.jpg);
}

.bg_three {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.4) 100%), url(../images/honkio-edp-bg.jpg);
}

.zig_content {
    background-color: #252628;
    padding: 50px 0;
}

.zig_text {
    background-color: #91c2dd;
}

.zig_text-main {
    width: 100%;
    padding: 40px 30px;
    
}

.zig_text-main p {
    text-align: justify;
}

.zig_features-text {
    padding: 20px 20px;
}


.project__services {
    padding: 80px 0;
    margin: 0 auto;
    background-color: #f6f6f6;
}

.head_text>h2 {
    color: #0473b2;
    text-align: center;
    margin: 50px auto;
}


/* WHO WE ARE */
.about_us {
    background-image: url(../images/who-we-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 50px 0;
    margin-top: -180px;
}

.about_text {
    color: #ffffff;
    width: 50%;
    margin-top: 100px;
}
.about_text h1 {
    margin-bottom: 10px;
}


/* VALUES */
.our_values {
    padding: 80px 0;
}
.values_text {
    width: 50%;
}
.values_text h2 {
    color: #0473b2;
    font-weight: 400 !important;
}
.bold {
    font-weight: bolder;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem !important;
    }
    .bold__text {
        font-size: 1.5rem !important;
    }
    .hero__top-texts p, .hero__btm-texts{
        width: 90%;
    }
    .grid-two {
        margin-top: -10px;
    }
    .top__text {
        width: 90%;
    }
    .grid__row {
        display: flex;
        flex-direction: column;
    }
    .col-grid {
        margin-top: 50px;
    }
    .card-col {
        margin: 0 auto;
    }

    .overlay {
        margin-left: 0px;
    }

    .mask {
        width: 85%;
        height: 500px;
    }

    .stick-card {
        width: 80%;
        height: 500px;
    }

    .list_features {
        margin-top: 80px;
        margin-left: 0px;
    }

    .zig_row {
        width: 95%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .zig_features-text, .zig_text-main {
        padding: 15px 15px;
    }

    

    .project__services{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    

    
}

@media screen and (max-width: 780px) {
    .stick-card-text h1 {
        font-size: 2rem !important;
        margin: 10px auto;
    }

    .zig_image_bg {
        order: 1;
    }
    .zig_text {
        order: 2;
    }
    .text_project_grid, .values_text {
        order: 1;
        text-align: justify;
        margin-bottom: 20px;
    }

    .img, .values_img {
        order: 2;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
        margin: 0 auto;
    }
    .about_text {
        text-align: justify;
    }
}



